body {
    background: beige;
    background-image: url("./assets/images/concrete_seamless.png");
    background-blend-mode: hard-light;
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.list {
    background: #ffffff;
    list-style-type: none;
    width: 400px;
    }

.list-spec {
    border-right: #777777 1px solid;
    float: right;
    margin-left: 10px;
    padding-right: 10px;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 32%;
    width: 240px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
    text-align: left;
    margin-left: 30px;
}

p {
    color: #777777;
    font-size: 18px;
    text-align: left;
}
.photo {
    position: relative;
    float: left;
    width: 250px;
    margin: 20px 0 25px;
    margin-right: 45px;
    overflow: auto;
 }

 .photo:nth-child(even){
    margin-right: 55px;
  }
  
  .photo img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .photo h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

nav {
    margin-top: 28px;
    width: 500px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#header {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
  }

.white-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 960px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #777777;
}

.content-wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 0;
    clear: both;
}
article {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.title-name {
    float: left;
    left: 30px;
    
}
.link-wrapper {
    float: right;
  
}
#messagebox {
    height: 300px;
    width: 400px;
}
#emailbox {
    width: 400px;
}
#namebox {
    width: 400px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    clear: both;
    color: #ffffff;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    background:#777777;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
}


@media screen and (max-width: 980px) {
    /* The body's bg color will be #333 */
    .content-wrapper{
        width: 80%;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 6%;
        clear: both;}
    nav {
        margin-top: -61px;
        margin-right: 5%;
        width: 500px;
    }
    .link-wrapper {
        margin-right: 2%;
    }
    #namebox {
        width: 400px;}
    #emailbox {
            width: 400px;}
    #messagebox {
        width: 400px;
        height: 200px;}
    h1 {
        margin-left: 20%;
    }
    h2 {
        margin-left: 13%;}
    .photo-grid {
        margin-left: 13%;
        padding: 1px;
    }
    h1{
        margin-top: 0;
        margin-bottom: 0;
        padding: 13px;
    }
    .contactform {
        padding: 10px;
        margin-left: 12%;
    }

    
}


@media screen and (max-width: 768px) {
    .content-wrapper{
        width: 60%;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 6%;
        clear: both;}
    .link-wrapper {
        margin-right: 0;
    }
    #namebox {
        width: 400px;
        }
    #emailbox {
        width: 400px;}
    #messagebox {
        width: 400px;
        height: 200px;}

    .photo {
        position: relative;
        float: left;
        width: 160px;
        margin: 20px 0 25px;
        margin-right: 40px;
        overflow: auto;
        }
        
        .photo:nth-child(even){
        margin-right: 55px;
        }
        
        .photo img {
        width: 100%;
        border: 0 none;
        opacity: 0.8;
        }
        
        .photo h3 {
        position: absolute;
        bottom: 10px;
        width: 100%;
        padding: 2px;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        background: #4aaaa5;
        border-bottom: 0;
        }

    .photo-grid {
        margin-left: 6%;
        padding: 4px;
    }
    h1{
        margin-top: 0;
        margin-bottom: 0;
        padding: 13px;
    }
    h2 {
        color: #4aaaa5;
        text-align: left;
        margin-left: 1%;
    }
    .contactform {
        padding: 10px;
        margin-left: -1%;
    }
    
    }




@media screen and (max-width: 640px) {
    .content-wrapper{
        width: 40%;
        max-width: 960px;
        margin-top: 15%;
        margin: 0 auto;
        clear: both;}
    article {
        margin-top: 37%;
        padding-left: 45px;
    }
    .photo {
        position: relative;
        float: left;
        width: 249px;
        margin: 20px 0 25px;
        margin-right: 45px;
        overflow: auto;
        }
    .photo-grid {
        margin-left: 0;
    }
    h1 {
        margin-left: 35%;
    }
    #namebox {
        width: 250px;}
    #emailbox {
        width: 250px;}
    #messagebox {
        width: 250px;
        height: 200px;}
    nav {
        margin-top: -2%;
        margin-right: 24%;
    }
    
    .link-wrapper {
        padding: 8px;
        margin-right: 19%;
    }

    .title-name {
        width: 100%;
        padding: 16px;
        margin: 0;
    }
    .contactform {
        margin-left: -1%;
        padding: 2px
    }
    
}

/*is this looking right?*/